<div class="panel panel-primary">
    <div class="panel-heading">
        {{Name}} ({{Symbol}})
    </div>
    <div class="panel-body">
        
        <div class="row">
            <br/>
            <div class="col-md-12 col-lg-12">
                <ul>
                    <li *ngFor="let item of Items">
                        <div><sup>{{item.Provider}}</sup><a href="{{item.Link}}">{{item.Title}}</a></div>
                        <div>{{item.PubDate}}</div>
                         <div [innerHTML]="item.Description"></div> 
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>