<div class="row">

    <div class="col-md-12 col-lg-12">

        <div class="list-group">
            <a href="#" class="list-group-item disabled">
                 {{Name}} ({{Symbol}})
            </a>
            <a href="{{item.Link}}" class="list-group-item" *ngFor="let item of Items">
                <div><sup>{{item.Provider}}</sup><a>{{item.Title}}</a></div>
                <div class="hidden-xs" >{{item.PubDate}}</div>
                <div class="hidden-xs" [innerHTML]="item.Description"></div>
            </a>
        </div>
        
    </div>
    
    
</div>
