
        <div class="row">
            <br/>
            <div class="col-md-12 col-lg-12">
                <div class="table table-responsive">
                    <table class="table" *ngIf='stocks && stocks.length'>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th class="hidden-xs">Name</th>
                                <th>Bid</th>
                                <th class="hidden-xs">% Change</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let stock of stocks'>
                                <td [class]="stock.Change>0?'success':'danger'">{{stock.symbol}} </td>
                                <td class="hidden-xs">{{stock.Name}} </td>
                                <td [class]="stock.Change>0?'success':'danger'">{{stock.Bid}} </td>
                                <td class="hidden-xs">{{stock.Change}} </td>
                                <td>
                                    <span class="glyphicon glyphicon-remove" (click)="remove(stock.symbol)"> </span>
                                    <a routerLink="/stocks-details/{{stock.symbol}}" routerLinkActive="active" class="glyphicon glyphicon-plus"></a>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>